.login-button {
  margin-top: 15px;
}

.formulario {
  margin-top: 100px;
}
mat-form-field {
  width: 100%;
}

.card-header {
  text-align: center;
  font-family: 'Mochiy Pop One';
  font-size: 25px;
}
.card {
  height: 330px;
  border-radius: 15px;
}
