<!-- <p>LISTA DE RESULTADOS</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Nº</th>
            <th scope="col">Nombre y Apellido</th>
            <th scope="col">Puntaje Total</th>
            <th scope="col">Diagnostico</th>
            <th scope="col">Informacion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let resultado of resultados">
          <th> {{resultado.id}} </th>
          <th colspan="2"> {{resultado.loggin}} </th>
          <th> {{resultado.password}} </th>


        </tr>
      </tbody>
</table> -->
<!-- 
<div>
  <div class="container">
    <div *ngFor="let resultado of resultados">
      <span>Nombre del alumno: {{resultado.id_resultadoTest.id_alumno.id_entidad.nombre}}</span><br>
      <span>Perfil Detallado</span> <br> <br>
      <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Area</th>
                <th scope="col">Puntaje Obtenido</th>
                <th scope="col">Puntaje Esperado</th>
                <th scope="col">Indicador</th>
                <th scope="col">Observacion</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th> {{resultado.id_area.descripcion}} </th>
              <th > {{ resultado.pObtenido}} </th>
              <th>{{resultado.id_area.pEsperado}}</th>
              <th>  {{ resultado.indicador }}</th>
              <th colspan="1"> {{ resultado.observacion }} </th>
    
            </tr>
          </tbody>
    </table>
    </div>
  </div>
</div> -->
