<div class="tabla">
  <div class="contenedor">
    <div *ngFor="let resultado of resultados">
      <span class="titulos">Nombre del alumno: <span class="informacion"> {{resultado.nombre_alumno}} </span> </span><br>
      <span class="titulos">Nroº de Documento: <span class="informacion"> {{resultado.nro_documento}} </span> </span><br>
      <span class="titulos">
        Indicador general: <span class="informacion">{{resultado.indicador}}</span>
      </span><br>
      <span class="titulos">
        Observación general: <span class="informacion"> {{resultado.observacion}} </span>
      </span><br><br>
      <span class="titulos">Perfil detallado</span> <br> <br>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Área</th>
            <th scope="col">Puntaje obtenido</th>
            <th scope="col">Puntaje minimo esperado</th>
            <th scope="col">Puntaje óptimo</th>
            <th scope="col">Indicador</th>
            <th scope="col">Observación</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> Contar </td>
            <td> {{ resultado.c_pobtenido}} </td>
            <td>{{resultado.c_pesperado * 0.6 | number:'1.0-0'}}</td>
            <td>{{resultado.c_pesperado}}</td>
            <td> {{ resultado.c_indicador }}</td>
            <td> {{ resultado.c_observacion }} </td>
          </tr>

          <tr>
            <td> Numerar </td>
            <td> {{ resultado.n_pobtenido}} </td>
            <td>{{resultado.n_pesperado * 0.6 | number:'1.0-0'}}</td>
            <td>{{resultado.n_pesperado}}</td>
            <td> {{ resultado.n_indicador }}</td>
            <td> {{ resultado.n_observacion }} </td>
          </tr>

          <tr>
            <td> Sistema númericos </td>
            <td> {{ resultado.sn_pobtenido}} </td>
            <td>{{resultado.sn_pesperado * 0.6 | number:'1.0-0'}}</td>
            <td>{{resultado.sn_pesperado}}</td>
            <td> {{ resultado.sn_indicador }}</td>
            <td> {{ resultado.sn_observacion }} </td>
          </tr>

          <tr>
            <td> Operaciones lógicas </td>
            <td> {{ resultado.opl_pobtenido}} </td>
            <td>{{resultado.opl_pesperado * 0.6 | number:'1.0-0'}}</td>
            <td>{{resultado.opl_pesperado}}</td>
            <td> {{ resultado.opl_indicador }}</td>
            <td> {{ resultado.opl_observacion }} </td>
          </tr>

          <tr>
            <td> Operaciones </td>
            <td> {{ resultado.op_pobtenido}} </td>
            <td>{{resultado.op_pesperado * 0.6 | number:'1.0-0'}}</td>
            <td>{{resultado.op_pesperado}}</td>
            <td> {{ resultado.op_indicador }}</td>
            <td> {{ resultado.op_observacion }} </td>
          </tr>

          <tr>
            <td> Estimación de tamaños </td>
            <td> {{ resultado.et_pobtenido}} </td>
            <td>{{resultado.et_pesperado * 0.6 | number:'1.0-0'}}</td>
            <td>{{resultado.et_pesperado}}</td>
            <td> {{ resultado.et_indicador }}</td>
            <td> {{ resultado.et_observacion }} </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>