<mat-horizontal-stepper [linear]="isLinear" #stepper (selectionChange)="onStepChange($event)" *ngIf="mostrarStep" id="testAlumno" class="test-prueba">

    <mat-step class="test-prueba" [stepControl]="alumnoFormGroup" *ngIf="mostrarAlumno">
        <div>
            <ng-template matStepLabel></ng-template>
            <div class="preguntas">
                <div class="pregunta-i">
                    <label class="titulo">Por favor, ingrese su número de cédula para iniciar el TEST</label>
                    <div class="elements" aria-labelledby="example-radio-group-label">

                        <div class="options">
                            <mat-form-field class="access-form">
                                <mat-label>Cedula de Identidad</mat-label>
                                <input type="email" matInput [(ngModel)]="documento">
                            </mat-form-field>

                            <div class="button-access-form">
                                <button type="submit" (click)="buscarAlumno(documento)" mat-raised-button
                                    color="primary" matStepperNext>Siguiente</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </mat-step>

    <mat-step [stepControl]="contarFormGroup">
        <form [formGroup]="contarFormGroup">
            <ng-template matStepLabel></ng-template>
            <div class="preguntas">
                <div class="pregunta-i">
                    <label class="titulo">¿Puedes marcar el conjunto que tiene hasta 9 elementos?</label>
                    <mat-radio-group class="elements" aria-labelledby="example-radio-group-label"
                        formControlName="respuestaSeleccionadaFrutas">

                        <div class="options">
                            <img src="../../../assets/frutas-4.jpg"> <br>
                            <mat-radio-button value="4"></mat-radio-button>
                        </div>

                        <div class="options">
                            <img src="../../../assets/frutas-5.jpg"> <br>
                            <mat-radio-button value="5"></mat-radio-button>
                        </div>

                        <div class="options">
                            <img src="../../../assets/frutas-9.jpg"> <br>
                            <mat-radio-button value="9"></mat-radio-button>
                        </div>

                    </mat-radio-group>

                </div>
            </div>
            <div class="boton-next">
                <button mat-raised-button color="primary" matStepperPrevious class="boton-back">Volver</button>
                <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
            </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="contarFormGroup">
        <form [formGroup]="contarFormGroup">
            <ng-template matStepLabel></ng-template>
            <div class="preguntas">
                <div class="pregunta-i">
                    <label class="titulo">¿Puedes marcar el conjunto que tiene hasta 6 elementos?</label>
                    <mat-radio-group class="elements" aria-labelledby="example-radio-group-label"
                        formControlName="respuestaSeleccionadaArboles">

                        <div class="options">
                            <img src="../../../assets/arboles-4.jpg"> <br>
                            <mat-radio-button value="4"></mat-radio-button>
                        </div>

                        <div class="options">
                            <img src="../../../assets/001.png"> <br>
                            <mat-radio-button value="6"></mat-radio-button>
                        </div>

                        <div class="options">
                            <img src="../../../assets/002.png"> <br>
                            <mat-radio-button value="9"></mat-radio-button>
                        </div>

                    </mat-radio-group>

                </div>
            </div>
            <div class="boton-next">
                <button mat-raised-button color="primary" matStepperPrevious class="boton-back">Volver</button>
                <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
            </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="contarFormGroup">
        <form [formGroup]="contarFormGroup">
            <ng-template matStepLabel></ng-template>
            <div class="preguntas">
                <div class="pregunta-i">
                    <div class="opciones-padre">
                        <div class="enumerar-hijo">
                            <h2> ¿ Puedes contar desde el número 3 ? </h2>

                            <input class="numeros" type="number" id="5" value="3" disabled> ,
                            <input class="numeros" type="number" id="6" formControlName="contar_3_1"> ,
                            <input class="numeros" type="number" id="7" formControlName="contar_3_2"> ,
                            <input class="numeros" type="number" id="8" formControlName="contar_3_3"> ,
                            <input class="numeros" type="number" id="9" formControlName="contar_3_4">
                        </div>
                        <div class="enumerar-hijo">
                            <h2> ¿ Puedes contar desde el número 7 ? </h2>

                            <input class="numeros" type="number" id="10" value="7" disabled> ,
                            <input class="numeros" type="number" id="11" formControlName="contar_7_1"> ,
                            <input class="numeros" type="number" id="12" formControlName="contar_7_2"> ,
                            <input class="numeros" type="number" id="13" formControlName="contar_7_3"> ,
                            <input class="numeros" type="number" id="14" formControlName="contar_7_4">
                        </div>
                    </div>

                    <div class="opciones-padre">
                        <div class="enumerar-hijo">
                            <h2> ¿ Puedes contar desde 5 hasta 9 ? </h2>

                            <input class="numeros" type="number" formControlName="contarLimInfSup_5_1"> ,
                            <input class="numeros" type="number" formControlName="contarLimInfSup_5_2"> ,
                            <input class="numeros" type="number" formControlName="contarLimInfSup_5_3"> ,
                            <input class="numeros" type="number" formControlName="contarLimInfSup_5_4"> ,
                            <input class="numeros" type="number" formControlName="contarLimInfSup_5_5">
                        </div>
                        <div class="enumerar-hijo">
                            <h2> ¿ Puedes contar desde 4 hasta 8 ? </h2>

                            <input class="numeros" type="number" formControlName="contarLimInfSup_4_1"> ,
                            <input class="numeros" type="number" formControlName="contarLimInfSup_4_2"> ,
                            <input class="numeros" type="number" formControlName="contarLimInfSup_4_3"> ,
                            <input class="numeros" type="number" formControlName="contarLimInfSup_4_4"> ,
                            <input class="numeros" type="number" formControlName="contarLimInfSup_4_5">
                        </div>
                    </div>

                    <div class="opciones-padre">
                        <div class="enumerar-hijo">
                            <h2> ¿ Puedes contar hacia atrás desde 7 ? </h2>

                            <input class="numeros" type="number" formControlName="contarAtras_7_1"> ,
                            <input class="numeros" type="number" formControlName="contarAtras_7_2"> ,
                            <input class="numeros" type="number" formControlName="contarAtras_7_3"> ,
                            <input class="numeros" type="number" formControlName="contarAtras_7_4"> ,
                            <input class="numeros" type="number" formControlName="contarAtras_7_5">
                        </div>
                        <div class="enumerar-hijo">
                            <h2> ¿ Puedes contar hacia atrás desde el 15 ? </h2>

                            <input class="numeros" type="number" formControlName="contarAtras_15_1"> ,
                            <input class="numeros" type="number" formControlName="contarAtras_15_2"> ,
                            <input class="numeros" type="number" formControlName="contarAtras_15_3"> ,
                            <input class="numeros" type="number" formControlName="contarAtras_15_4"> ,
                            <input class="numeros" type="number" formControlName="contarAtras_15_5">
                        </div>
                    </div>

                </div>
            </div>
            <div class="boton-next">
                <button mat-raised-button color="primary" matStepperPrevious class="boton-back">Volver</button>
                <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
            </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="enumerarFormGroup">
        <form [formGroup]="enumerarFormGroup">
            <ng-template matStepLabel></ng-template>
            <div class="preguntas">
                <div class="pregunta-i">
                    <label class="titulo">¿Puedes contar cuántos corazones hay?</label>
                    <div class="elements" aria-labelledby="example-radio-group-label">

                        <div class="options">
                            <img src="../../../assets/07.gif"> <br>
                            <input class="enumerar-input" type="number" formControlName="corazones">
                        </div>


                    </div>
                </div>
            </div>
            <div class="boton-next">
                <button mat-raised-button color="primary" matStepperPrevious class="boton-back">Volver</button>
                <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
            </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="enumerarFormGroup">
        <form [formGroup]="enumerarFormGroup">
            <ng-template matStepLabel></ng-template>
            <div class="preguntas">
                <div class="pregunta-i">
                    <label class="titulo">¿ Cuántos ratones hay?</label>
                    <div class="elements" aria-labelledby="example-radio-group-label">

                        <div class="options">
                            <img src="../../../assets/ratones.jpg"> <br>
                            <input class="enumerar-input" type="number" formControlName="ratones">
                        </div>
                    </div>
                </div>
            </div>
            <div class="boton-next">
                <button mat-raised-button color="primary" matStepperPrevious class="boton-back">Volver</button>
                <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
            </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="enumerarFormGroup">
        <form [formGroup]="enumerarFormGroup">
            <ng-template matStepLabel></ng-template>
            <div class="preguntas">
                <div class="pregunta-i">
                    <label class="titulo"> ¿ Cuántos dinosaurio hay?</label>
                    <div class="elements" aria-labelledby="example-radio-group-label">

                        <div class="options">
                            <img src="../../../assets/005.png"> <br>
                            <input class="enumerar-input" type="number" formControlName="dinosaurios">

                        </div>


                    </div>
                </div>
            </div>
            <div class="boton-next">
                <button mat-raised-button color="primary" matStepperPrevious class="boton-back">Volver</button>
                <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
            </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="enumerarFormGroup">
        <form [formGroup]="enumerarFormGroup">
            <ng-template matStepLabel></ng-template>
            <div class="preguntas">
                <div class="pregunta-i">
                    <label class="titulo">Cuenta cuántos aviones hay</label>
                    <div class="elements" aria-labelledby="example-radio-group-label">

                        <div class="options">
                            <img src="../../../assets/aviones.jpg"> <br>
                            <input class="enumerar-input" type="number" formControlName="aviones">
                        </div>
                    </div>
                </div>
            </div>
            <div class="boton-next">
                <button mat-raised-button color="primary" matStepperPrevious class="boton-back">Volver</button>
                <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
            </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="enumerarFormGroup">
        <form [formGroup]="enumerarFormGroup">
            <ng-template matStepLabel></ng-template>
            <div class="preguntas">
                <div class="pregunta-i">
                    <label class="titulo">Cuenta cuántas estrellas hay</label>
                    <div class="elements" aria-labelledby="example-radio-group-label">

                        <div class="options">
                            <img src="../../../assets/estrellas.jpg"> <br>
                            <input class="enumerar-input" type="number" formControlName="estrellas">
                        </div> <br>

                    </div>

                </div>
            </div>
            <div class="boton-next">
                <button mat-raised-button color="primary" matStepperPrevious class="boton-back">Volver</button>
                <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
            </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="sistNumFormGroup">
        <form>
            <ng-template matStepLabel></ng-template>
            <div class="preguntas">
                <div class="pregunta-i">
                    <label class="titulo">Seleccione los números que sirven para contar</label>
                    <div class="elements" aria-labelledby="example-radio-group-label">
                        <div class="opciones-padre">
                            <div class="enumerar-hijo">

                                <p>
                                    <mat-checkbox name="correcta1" [(ngModel)]="correcta1"></mat-checkbox>
                                    <img src="../../../assets/photo-9-35718.png" alt="">
                                </p>
                                <p>
                                    <mat-checkbox name="incorrecta1" [(ngModel)]="incorrecta1"></mat-checkbox>
                                    <img src="../../../assets/arroba.png" alt="">

                                </p>
                            </div>

                            <div class="enumerar-hijo">
                                <p>
                                    <mat-checkbox name="incorrecta2" [(ngModel)]="incorrecta2"></mat-checkbox>
                                    <img src="../../../assets/f.png" alt="">

                                </p>
                                <p>
                                    <mat-checkbox name="correcta2" [(ngModel)]="correcta2"></mat-checkbox>
                                    <img src="../../../assets/8png.png" alt="">

                                </p>

                            </div>

                            <div class="enumerar-hijo">
                                <p>
                                    <mat-checkbox name="correcta3" [(ngModel)]="correcta3"></mat-checkbox>
                                    <img src="../../../assets/3.png" alt="">

                                </p>
                                <p>
                                    <mat-checkbox name="correcta4" [(ngModel)]="correcta4"></mat-checkbox>
                                    <img src="../../../assets/6 imagen.png" alt="">

                                </p>

                            </div>

                            <div class="enumerar-hijo">
                                <p>
                                    <mat-checkbox name="incorrecta3" [(ngModel)]="incorrecta3"></mat-checkbox>
                                    <img src="../../../assets/&.png" alt="">

                                </p>
                                <p>
                                    <mat-checkbox name="correcta2" [(ngModel)]="correcta5"></mat-checkbox>
                                    <img src="../../../assets/2.png" alt="">

                                </p>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="boton-next">
                <button mat-raised-button color="primary" matStepperPrevious class="boton-back">Volver</button>
                <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
            </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="sistNumFormGroup">
        <form [formGroup]="sistNumFormGroup">
            <ng-template matStepLabel></ng-template>
            <div class="preguntas">
                <div class="pregunta-i">
                    <label class="titulo">¿ Cuál es el número más grande?</label><br>
                    <div>

                        <div class="opciones-padre ">

                            <mat-radio-group class="options-container" aria-labelledby="example-radio-group-label"
                                formControlName="elegirMayor_2_10">

                                <div class="opciones-padre grupos-opciones">
                                    <div>

                                        <img class="opciones-imagenes" src="../../../assets/2-animado.gif" alt=""><br>
                                        <mat-radio-button value="2"></mat-radio-button>
                                    </div>
                                    <div>
                                        <img class="opciones-imagenes" src="../../../assets/1.gif" alt=""> <br>
                                        <mat-radio-button value="1"></mat-radio-button>
                                    </div>
                                </div>
                            </mat-radio-group>

                            <mat-radio-group class="options-container" aria-labelledby="example-radio-group-label"
                                formControlName="elegirMayor_2_6">

                                <div class="opciones-padre grupos-opciones">
                                    <div>
                                        <img class="opciones-imagenes" src="../../../assets/2-animado.gif" alt=""><br>
                                        <mat-radio-button value="2"></mat-radio-button>
                                    </div>
                                    <div>
                                        <img class="opciones-imagenes" src="../../../assets/6-animado.gif" alt=""><br>
                                        <mat-radio-button value="6"></mat-radio-button>
                                    </div>
                                </div>

                            </mat-radio-group>


                            <mat-radio-group class="options-container" aria-labelledby="example-radio-group-label"
                                formControlName="elegirMayor_4_5">

                                <div class="opciones-padre grupos-opciones">
                                    <div>
                                        <img class="opciones-imagenes" src="../../../assets/4-animado2.gif" alt=""><br>
                                        <mat-radio-button value="4"></mat-radio-button>
                                    </div>
                                    <div>
                                        <img class="opciones-imagenes" src="../../../assets/5-animado.gif" alt=""><br>
                                        <mat-radio-button value="5"></mat-radio-button>
                                    </div>
                                </div>

                            </mat-radio-group>
                        </div>

                        <div class="opciones-padre">


                            <mat-radio-group class="options-container" aria-labelledby="example-radio-group-label"
                                formControlName="elegirMayor_8_7">

                                <div class="opciones-padre grupos-opciones">
                                    <div>
                                        <img class="opciones-imagenes" src="../../../assets/8.gif" alt=""><br>
                                        <mat-radio-button value="8"></mat-radio-button>
                                    </div>
                                    <div>
                                        <img class="opciones-imagenes" src="../../../assets/7animado.gif" alt=""><br>
                                        <mat-radio-button value="7"></mat-radio-button>
                                    </div>
                                </div>

                            </mat-radio-group>

                            <mat-radio-group class="options-container" aria-labelledby="example-radio-group-label"
                                formControlName="elegirMayor_9_3">

                                <div class="opciones-padre grupos-opciones">
                                    <div>
                                        <img class="opciones-imagenes" src="../../../assets/Day 36 - 36daysoftype, 36days_9 - 36daysoftype _ ello.gif"
                                            alt=""><br>
                                        <mat-radio-button value="9"></mat-radio-button>
                                    </div>
                                    <div>
                                        <img class="opciones-imagenes" src="../../../assets/3.gif" alt=""><br>
                                        <mat-radio-button value="3"></mat-radio-button>
                                    </div>
                                </div>

                            </mat-radio-group>
                        </div>




                    </div>

                </div>
            </div>
            <div class="boton-next">
                <button mat-raised-button color="primary" matStepperPrevious class="boton-back">Volver</button>
                <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
            </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="sistNumFormGroup">
        <form>
            <ng-template matStepLabel></ng-template>
            <div class="preguntas">
                <div class="pregunta-i">
                    <label class="titulo">Lee las siguientes palabras y selecciona las que son números</label>
                    <div class="elements" aria-labelledby="example-radio-group-label">

                        <section>
                            <div class="opciones-padre">

                                <div class="opciones-hijo">
                                    <span class="opcion-text">Siete</span>
                                    <mat-checkbox type="number" name="sieteControl" [(ngModel)]="sieteControl">
                                    </mat-checkbox>
                                </div>

                                <div class="opciones-hijo">
                                    <span class="opcion-text">Domingo </span>
                                    <mat-checkbox type="number" name="domingoControl" [(ngModel)]="domingoControl">
                                    </mat-checkbox>

                                </div>

                                <div class="opciones-hijo">
                                    <span class="opcion-text">Once</span>
                                    <mat-checkbox type="number" name="onceControl" [(ngModel)]="onceControl">
                                    </mat-checkbox>
                                </div>

                            </div>

                            <div class="opciones-padre">

                                <div class="opciones-hijo">
                                    <span class="opcion-text">Bicien</span>
                                    <mat-checkbox type="number" name="bicienControl" [(ngModel)]="bicienControl">
                                    </mat-checkbox>
                                </div>

                                <div class="opciones-hijo">
                                    <span class="opcion-text">Julio</span>
                                    <mat-checkbox type="number" name="julioControl" [(ngModel)]="julioControl">
                                    </mat-checkbox>
                                </div>

                                <div class="opciones-hijo">
                                    <span class="opcion-text">Cinco</span>
                                    <mat-checkbox type="number" name="cincoControl" [(ngModel)]="cincoControl">
                                    </mat-checkbox>
                                </div>

                            </div>

                            <div class="opciones-padre">

                                <div class="opciones-hijo">
                                    <span class="opcion-text">Setenta</span>
                                    <mat-checkbox type="number" name="setentaControl" [(ngModel)]="setentaControl">
                                    </mat-checkbox>
                                </div>

                                <div class="opciones-hijo">
                                    <span class="opcion-text">Sesiente</span>
                                    <mat-checkbox type="number" name="sesienteControl" [(ngModel)]="sesienteControl">
                                    </mat-checkbox>
                                </div>

                                <div class="opciones-hijo">
                                    <span class="opcion-text">Treinta</span>
                                    <mat-checkbox type="number" name="treintaControl" [(ngModel)]="treintaControl">
                                    </mat-checkbox>
                                </div>

                            </div>

                            <div class="opciones-padre">

                                <div class="opciones-hijo">
                                    <span class="opcion-text">Catorce</span>
                                    <mat-checkbox type="number" name="catorceControl" [(ngModel)]="catorceControl">
                                    </mat-checkbox>
                                </div>

                                <div class="opciones-hijo">
                                    <span class="opcion-text">Dince</span>
                                    <mat-checkbox type="number" name="dinceControl" [(ngModel)]="dinceControl">
                                    </mat-checkbox>
                                </div>

                                <div class="opciones-hijo">
                                    <span class="opcion-text">Jueves</span>
                                    <mat-checkbox type="number" name="juevesControl" [(ngModel)]="juevesControl">
                                    </mat-checkbox>
                                </div>

                            </div>

                        </section>
                    </div>
                </div>
            </div>

            <div class="boton-next">
                <button mat-raised-button color="primary" matStepperPrevious class="boton-back">Volver</button>
                <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
            </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="enumerarFormGroup">
        <form [formGroup]="enumerarFormGroup">
            <ng-template matStepLabel></ng-template>
            <div class="preguntas">
                <div class="pregunta-i">
                    <label class="titulo">Ordena las estrellas de menor a mayor</label>
                    <div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)"
                        aria-labelledby="example-radio-group-label">
                        <div class="example-box" *ngFor="let movie of items" cdkDrag>
                            <!-- <div class="example-custom-placeholder" *cdkDragPlaceholder></div> -->
                            <img [src]="movie.img" class="example-custom-placeholder estrellas-opciones">
                        </div>
                    </div>
                </div>
            </div>

            <div class="boton-next">
                <button mat-raised-button color="primary" matStepperPrevious class="boton-back">Volver</button>
                <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
            </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="operacionesLogicas">
        <form [formGroup]="operacionesLogicas">
            <ng-template matStepLabel></ng-template>
            <div class="preguntas">
                <div class="pregunta-i">
                    <label class="titulo"> Ahora debes marcar la que tiene más elementos</label>
                    <mat-radio-group class="elements" aria-labelledby="example-radio-group-label"
                        formControlName="controlPiezas">

                        <div class="options">
                            <img src="../../../assets/piezas-menor.png "> <br>
                            <mat-radio-button value="4"></mat-radio-button>
                        </div>

                        <div class="options">
                            <img src="../../../assets/piezas-mayor.jpg"> <br>
                            <mat-radio-button value="6"></mat-radio-button>
                        </div>

                    </mat-radio-group>

                </div>
            </div>
            <div class="boton-next">
                <button mat-raised-button color="primary" matStepperPrevious class="boton-back">Volver</button>
                <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
            </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="operacionesLogicas">
        <form [formGroup]="operacionesLogicas">
            <ng-template matStepLabel></ng-template>
            <div class="preguntas">
                <div class="pregunta-i">
                    <label class="titulo">Disponemos de 6 fichas en el sobre, considerando las opciones disponibles crees que es posible retirar las siguientes fichas...</label>
                    <div class="options">
                        <img class="imagen-sobre" src="../../../assets/014.png"> <br>
                    </div>
                    <div class="opciones-padre">

                        <mat-radio-group class="opciones-hijo" aria-labelledby="example-radio-group-label"
                            formControlName="controlCartaMenosOcho">
                            <h2>
                                Si queremos sacar 8
                            </h2>
                            <div>
                                Si
                                <mat-radio-button value="1"></mat-radio-button>
                            </div>
                            <div>
                                No
                                <mat-radio-button value="0"></mat-radio-button>
                            </div>

                        </mat-radio-group>
                        <mat-radio-group class="opciones-hijo" aria-labelledby="example-radio-group-label"
                            formControlName="controlCartaMenosCuatro">
                            <h2>
                                Si queremos sacar 4
                            </h2>
                            <div>
                                Si
                                <mat-radio-button value="1"></mat-radio-button>
                            </div>
                            <div>
                                No
                                <mat-radio-button value="0"></mat-radio-button>
                            </div>

                        </mat-radio-group>
                        <mat-radio-group class="opciones-hijo" aria-labelledby="example-radio-group-label"
                            formControlName="controlCartaMenosSiete">
                            <h2>
                                Si queremos sacar 7
                            </h2>
                            <div>
                                Si
                                <mat-radio-button value="1"></mat-radio-button>
                            </div>
                            <div>
                                No
                                <mat-radio-button value="0"></mat-radio-button>
                            </div>

                        </mat-radio-group>
                    </div>

                </div>
            </div>
            <div class="boton-next">
                <button mat-raised-button color="primary" matStepperPrevious class="boton-back">Volver</button>
                <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
            </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="operacionesLogicas">
        <form [formGroup]="operacionesLogicas">
            <ng-template matStepLabel></ng-template>
            <div class="preguntas">
                <div class="pregunta-i">
                    <div>
                        <h1> Rellena el numero que falta </h1>
                        <input class="numeros" type="number" value="4" disabled> <span class="signos"> + </span>
                        <input class="numeros" type="number" formControlName="controlRellenarCuatro"> <span
                            class="signos"> = </span>
                        <input class="numeros" type="number" value="8" disabled> <br> <br>

                        <input class="numeros" type="number" value="7" disabled> <span class="signos"> - </span>
                        <input class="numeros" type="number" formControlName="controlRellenarMenosCuatro"> <span
                            class="signos"> = </span>
                        <input class="numeros" type="number" value="3" disabled> <br><br>

                        <input class="numeros" type="number" formControlName="controlRellenarTres"> <span
                            class="signos"> + </span>
                        <input class="numeros" type="number" value="3" disabled> <span class="signos"> = </span>
                        <input class="numeros" type="number" value="6" disabled> <br><br>

                        <input class="numeros" type="number" formControlName="controlRellenarSiete"> <span
                            class="signos"> - </span>
                        <input class="numeros" type="number" value="2" disabled> <span class="signos"> = </span>
                        <input class="numeros" type="number" value="5" disabled> <br><br>

                        <input class="numeros" type="number" value="16" disabled> <span class="signos"> - </span>
                        <input class="numeros" type="number" value="4" disabled> <span class="signos"> = </span>
                        <input class="numeros" type="number" formControlName="controlRellenarDoce"> <br><br>

                        <input class="numeros" type="number" value="6" disabled> <span class="signos"> + </span>
                        <input class="numeros" type="number" value="3" disabled> <span class="signos"> = </span>
                        <input class="numeros" type="number" formControlName="controlRellenarNueve"> <br><br>

                        <input class="numeros" type="number" value="9" disabled> <span class="signos"> - </span>
                        <input class="numeros" type="number" value="5" disabled> <span class="signos"> = </span>
                        <input class="numeros" type="number" formControlName="controlRellenarResultCuatro"> <br><br>

                        <input class="numeros" type="number" value="20" disabled> <span class="signos"> + </span>
                        <input class="numeros" type="number" value="8" disabled> <span class="signos"> = </span>
                        <input class="numeros" type="number" formControlName="controlRellenarVeinteYOcho"> <br><br>

                    </div> <br>
                </div>
            </div>
            <div class="boton-next">
                <button mat-raised-button color="primary" matStepperPrevious class="boton-back">Volver</button>
                <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
            </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="operaciones">
        <form [formGroup]="operaciones">
            <ng-template matStepLabel></ng-template>
            <div class="preguntas">
                <div class="pregunta-i">
                    <label class="titulo">¿ Cuántos globos tenemos ? </label>
                    <div class="elements">

                        <div class="options">
                            <img src="../../../assets/globos-2.jpg">
                        </div>
                        <div class="operadores">
                            <span class="signos-imagenes"> + </span>
                        </div>
                        <div class="options">
                            <img src="../../../assets/globos.gif"> <span class="signos-imagenes"> = </span>
                            <input class="numeros" type="number" formControlName="controlGlobos"> <br><br>
                        </div>
                    </div>

                </div>
            </div>
            <div class="boton-next">
                <button mat-raised-button color="primary" matStepperPrevious class="boton-back">Volver</button>
                <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
            </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="operaciones">
        <form [formGroup]="operaciones">
            <ng-template matStepLabel></ng-template>
            <div class="preguntas">
                <div class="pregunta-i">
                    <label class="titulo">¿ Cuántos lápices tenemos ?</label>

                    <div class="elements">

                        <div class="options">
                            <img src="../../../assets/017.jpg"> <br>
                        </div>

                        <div class="operadores">
                            <span class="signos-imagenes"> + </span>
                        </div>

                        <div class="options">
                            <img src="../../../assets/017.jpg"> <span class="signos-imagenes"> = </span>
                            <input class="numeros" type="number" formControlName="controlLapices"> <br><br>
                        </div>

                    </div>


                </div>
            </div>
            <div class="boton-next">
                <button mat-raised-button color="primary" matStepperPrevious class="boton-back">Volver</button>
                <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
            </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="operaciones">
        <form [formGroup]="operaciones">
            <ng-template matStepLabel></ng-template>
            <div class="preguntas">
                <div class="pregunta-i">
                    <label class="titulo">¿ Cuántos conejos tenemos ?</label>

                    <div class="elements">

                        <div class="options">
                            <img src="../../../assets/conejitos-4.jpg"> <br>
                        </div>

                        <div class="operadores">
                            <span class="signos-imagenes"> + </span>
                        </div>

                        <div class="options">
                            <img src="../../../assets/conejitos-4.jpg"> <span class="signos-imagenes"> = </span>
                            <input class="numeros" type="number" formControlName="controlConejos"> <br><br>
                        </div>

                    </div>

                </div>
            </div>
            <div class="boton-next">
                <button mat-raised-button color="primary" matStepperPrevious class="boton-back">Volver</button>
                <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
            </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="operaciones">
        <form [formGroup]="operaciones">
            <ng-template matStepLabel></ng-template>
            <div class="preguntas">
                <div class="pregunta-i">
                    <label class="titulo">¿ Cuántas pelotas quedan ?</label>

                    <div class="elements">

                        <div class="options">
                            <img src="../../../assets/012.png"> <br>
                        </div>

                        <div class="operadores">
                            <span class="signos-imagenes"> - </span>
                        </div>

                        <div class="options">
                            <img src="../../../assets/pelotas-4.jpg"> <span class="signos-imagenes"> = </span>
                            <input class="numeros" type="number" formControlName="controlPelotas"> <br><br>
                        </div>

                    </div>

                </div>
            </div>
            <div class="boton-next">
                <button mat-raised-button color="primary" matStepperPrevious class="boton-back">Volver</button>
                <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
            </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="operaciones">
        <form [formGroup]="operaciones">
            <ng-template matStepLabel></ng-template>
            <div class="preguntas">
                <div class="pregunta-i">
                    <label class="titulo">¿ Cuántas flores quedan ?</label>

                    <div class="elements">

                        <div class="options">
                            <img src="../../../assets/015.png"> <br>
                        </div>

                        <div class="operadores">
                            <span class="signos-imagenes"> - </span>
                        </div>

                        <div class="options">
                            <img src="../../../assets/016.png"> <span class="signos-imagenes"> = </span>
                            <input class="numeros" type="number" formControlName="controlFlores"> <br><br>
                        </div>

                    </div>

                </div>
            </div>
            <div class="boton-next">
                <button mat-raised-button color="primary" matStepperPrevious class="boton-back">Volver</button>
                <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
            </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="operaciones">
        <form [formGroup]="operaciones">
            <ng-template matStepLabel></ng-template>
            <div class="preguntas">
                <div class="pregunta-i">

                    <div>
                        <h1> Rellena el numero que falta </h1>

                        <input class="numeros" type="number" value="2" disabled> <span class="signos"> + </span>
                        <input class="numeros" type="number" value="2" disabled> <span class="signos"> = </span>
                        <input class="numeros" type="number" formControlName="controlSumasUno"> <br><br>

                        <input class="numeros" type="number" value="0" disabled> <span class="signos"> + </span>
                        <input class="numeros" type="number" value="8" disabled> <span class="signos"> = </span>
                        <input class="numeros" type="number" formControlName="controlSumasDos"> <br><br>

                        <input class="numeros" type="number" value="6" disabled> <span class="signos"> + </span>
                        <input class="numeros" type="number" value="3" disabled> <span class="signos"> = </span>
                        <input class="numeros" type="number" formControlName="controlSumasTres"> <br><br>

                        <input class="numeros" type="number" value="3" disabled> <span class="signos"> + </span>
                        <input class="numeros" type="number" value="0" disabled> <span class="signos"> = </span>
                        <input class="numeros" type="number" formControlName="controlSumasCuatro"> <br><br>

                        <input class="numeros" type="number" value="3" disabled> <span class="signos"> + </span>
                        <input class="numeros" type="number" value="5" disabled> <span class="signos"> = </span>
                        <input class="numeros" type="number" formControlName="controlSumasCinco"> <br><br>

                    </div> <br>

                </div>
            </div>
            <div class="boton-next">
                <button mat-raised-button color="primary" matStepperPrevious class="boton-back">Volver</button>
                <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
            </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="estimacion">
        <form [formGroup]="estimacion">
            <ng-template matStepLabel></ng-template>
            <div class="preguntas">
                <div class="pregunta-i">
                    <label *ngIf="ocultarImagenUno" class="titulo">Cuenta la cantidad de puntos en cada imágen</label>

                    <div *ngIf="ocultarImagenUno" class="opciones-padre">
                        <div class="options">
                            <img class="imagen-estimacion" src="../../../assets/ESTIMACIÓN DE TAMAÑO/Ball Cycle.gif">
                            <br>
                        </div>

                        <div class="options">
                            <img class="imagen-estimacion" src="../../../assets/ESTIMACIÓN DE TAMAÑO/Flickr loader.gif">
                            <br>
                        </div>
                    </div>

                    <mat-radio-group *ngIf="mostrarOpcionesUno" aria-labelledby="example-radio-group-label"
                        formControlName="controlEjercicioUno">
                        <h1> ¿ En cual tarjeta habia mas puntos ? </h1><br><br>
                        <div class="opciones-padre">

                            <div class="opciones-estimacion">
                                <mat-radio-button value="2"></mat-radio-button>
                            </div>
                            <div class="opciones-estimacion">

                                <mat-radio-button value="4"></mat-radio-button>
                            </div>
                        </div>

                    </mat-radio-group>

                </div>
            </div>
            <div class="boton-next">
                <button mat-raised-button color="primary" matStepperPrevious class="boton-back">Volver</button>
                <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
            </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="estimacion">
        <form [formGroup]="estimacion">
            <ng-template matStepLabel></ng-template>
            <div class="preguntas">
                <div class="pregunta-i">
                    <label *ngIf="ocultarImagenDos" class="titulo">Cuenta la cantidad de puntos en cada imágen</label>

                    <div *ngIf="ocultarImagenDos" class="opciones-padre">
                        <div class="options">
                            <img class="imagen-estimacion" src="../../../assets/ESTIMACIÓN DE TAMAÑO/Dot dot dot dot dot.gif">
                        </div>

                        <div class="options">
                            <img class="imagen-estimacion" src="../../../assets/ESTIMACIÓN DE TAMAÑO/Simple preloader.gif">
                        </div>
                    </div>

                    <mat-radio-group *ngIf="mostrarOpcionesDos"
                        aria-labelledby="example-radio-group-label" formControlName="controlEjercicioDos">
                        <h1> ¿ En cual tarjeta habia mas puntos ? </h1><br><br>

                        <div class="opciones-padre">

                            <div class="opciones-estimacion">
                                <mat-radio-button value="6"></mat-radio-button>
                            </div>
                            <div class="opciones-estimacion">
                                <mat-radio-button value="4"></mat-radio-button>
                            </div>
                        </div>

                    </mat-radio-group>
                </div>
            </div>
            <div class="boton-next">
                <button mat-raised-button color="primary" matStepperPrevious class="boton-back">Volver</button>
                <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
            </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="estimacion">
        <form [formGroup]="estimacion">
            <ng-template matStepLabel></ng-template>
            <div class="preguntas">
                <div class="pregunta-i">
                    <label *ngIf="ocultarImagenTres" class="titulo">Cuenta la cantidad de puntos en cada imágen</label>

                    <div *ngIf="ocultarImagenTres" class="opciones-padre">
                        <div class="options">
                            <img class="imagen-estimacion" src="../../../assets/ESTIMACIÓN DE TAMAÑO/Loader.gif">
                        </div>

                        <div class="options">
                            <img class="imagen-estimacion" src="../../../assets/ESTIMACIÓN DE TAMAÑO/GIF Airpump v1.gif">
                        </div>
                    </div>

                    <mat-radio-group *ngIf="mostrarOpcionesTres"
                        aria-labelledby="example-radio-group-label" formControlName="controlEjercicioTres">
 
                        <h1>¿En cual tarjeta habia mas puntos?</h1>
                        <div class="opciones-padre">

                            <div class="opciones-estimacion">

                                <mat-radio-button value="5"></mat-radio-button>
                            </div>
                            <div class="opciones-estimacion">

                                <mat-radio-button value="4"></mat-radio-button>
                            </div>
                        </div>

                    </mat-radio-group>
                </div>
            </div>
            <div class="boton-next">
                <button mat-raised-button color="primary" matStepperPrevious class="boton-back">Volver</button>
                <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
            </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="estimacion">
        <form [formGroup]="estimacion">
            <ng-template matStepLabel></ng-template>
            <div class="preguntas">
                <div class="pregunta-i">
                    <label *ngIf="ocultarImagenCuatro" class="titulo">Cuenta la cantidad de puntos en cada imágen</label>

                    <div *ngIf="ocultarImagenCuatro" class="opciones-padre">
                        <div class="options">
                            <img class="imagen-estimacion" src="../../../assets/ESTIMACIÓN DE TAMAÑO/Falling Dots.gif">
                        </div>

                        <div class="options">
                            <img class="imagen-estimacion" src="../../../assets/ESTIMACIÓN DE TAMAÑO/Vitaly Silkin _ Projects _ Loaders.gif">
                        </div>
                    </div>

                    <mat-radio-group *ngIf="mostrarOpcionesCuatro"
                        aria-labelledby="example-radio-group-label" formControlName="controlEjercicioCuatro">

                        <h1>¿En cual tarjeta habia mas puntos?</h1>

                        <div class="opciones-padre">

                            <div class="opciones-estimacion">
                                <mat-radio-button value="4"></mat-radio-button>
                            </div>
                            <div class="opciones-estimacion">
                                <mat-radio-button value="3"></mat-radio-button>
                            </div>
                        </div>

                    </mat-radio-group>
                </div>
            </div>
            <div class="boton-next">
                <button mat-raised-button color="primary" matStepperPrevious class="boton-back">Volver</button>
                <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
            </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="estimacion">
        <form [formGroup]="estimacion">
            <ng-template matStepLabel></ng-template>
            <div class="preguntas">
                <div class="pregunta-i">
                    <label *ngIf="ocultarImagenCinco" class="titulo">Cuenta la cantidad de puntos en cada imágen</label>

                    <div *ngIf="ocultarImagenCinco" class="opciones-padre">
                        <div class="options">
                            <img class="imagen-estimacion" src="../../../assets/ESTIMACIÓN DE TAMAÑO/Contact us.gif">
                        </div>
                        
                        <div class="options">
                            <img class="imagen-estimacion" src="../../../assets/ESTIMACIÓN DE TAMAÑO/I.gif">
                        </div>
                    </div>

                    <mat-radio-group *ngIf="mostrarOpcionesCinco"
                        aria-labelledby="example-radio-group-label" formControlName="controlEjercicioCinco">
                        <h1>¿En cual tarjeta habia mas puntos?</h1>

                        <div class="opciones-padre">
                            <div class="opciones-estimacion">
                                <mat-radio-button value="4"></mat-radio-button>
                            </div>

                            <div class="opciones-estimacion">
                                <mat-radio-button value="5"></mat-radio-button>
                            </div>
                        </div>
                    </mat-radio-group>
                </div>
            </div>
            <div class="boton-next">
                <button mat-raised-button color="primary" matStepperPrevious class="boton-back">Volver</button>
                <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
            </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="estimacion">
        <form [formGroup]="estimacion">
            <ng-template matStepLabel></ng-template>
            <div class="preguntas">
                <div class="pregunta-i">
                    <label *ngIf="ocultarImagenSeis" class="titulo">Cuenta la cantidad de puntos en cada imágen</label>

                    <div *ngIf="ocultarImagenSeis" class="opciones-padre">
                        <div class="options">
                            <img class="imagen-estimacion" src="../../../assets/ESTIMACIÓN DE TAMAÑO/Bounce.gif">
                        </div>

                        <div class="options">
                            <img class="imagen-estimacion" src="../../../assets/ESTIMACIÓN DE TAMAÑO/Colon GIF v2 for Franchise Animated.gif">
                        </div>
                    </div>

                    <mat-radio-group *ngIf="mostrarOpcionesSeis"
                        aria-labelledby="example-radio-group-label" formControlName="controlEjercicioSeis">
                        <h1>¿En cual tarjeta habia mas puntos?</h1>

                        <div class="opciones-padre">
                            <div class="opciones-estimacion">
                                <mat-radio-button value="1"></mat-radio-button>
                            </div>

                            <div class="opciones-estimacion">
                                <mat-radio-button value="2"></mat-radio-button>
                            </div>
                        </div>

                    </mat-radio-group>
                </div>
            </div>
            <div class="boton-next">
                <button mat-raised-button color="primary" matStepperPrevious class="boton-back">Volver</button>
                <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
            </div>
        </form>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Finalizado</ng-template>
        <p>Cuestionario terminado.</p>
        <div>
            <button mat-raised-button color="primary" matStepperPrevious class="boton-back">Volver</button>
            <button mat-raised-button color="primary" (click)="calcularResultados()">Finalizar</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>