<mat-horizontal-stepper #stepper>
    <mat-step [stepControl]="contarFormGroup" errorMessage="Aun no se respondio">
        <form [formGroup]="contarFormGroup">
            <ng-template matStepLabel></ng-template>
            <div class="preguntas">
                <div class="pregunta-i">
                    <label class="titulo">Seleccione la imagen con mas elementos</label>
                    <mat-radio-group class="elements" aria-labelledby="example-radio-group-label"
                        formControlName="respuestaSeleccionadaFrutas">

                        <div class="options">
                            <img src="../../../assets/frutas-4.jpg"> <br>
                            <mat-radio-button value="4"></mat-radio-button>
                        </div>

                        <div class="options">
                            <img src="../../../assets/frutas-5.jpg"> <br>
                            <mat-radio-button value="5"></mat-radio-button>
                        </div>

                        <div class="options">
                            <img src="../../../assets/frutas-9.jpg"> <br>
                            <mat-radio-button value="9"></mat-radio-button>
                        </div>

                    </mat-radio-group>
                    <div>La respuesta es: {{contarFormGroup.controls['respuestaSeleccionadaFrutas'].value}}</div>

                </div>
            </div>
            <div class="boton-next">
                <button mat-raised-button color="primary" (click)="verResultado()" matStepperNext>Siguiente</button>
            </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="contarFormGroup" errorMessage="Aun no se respondio">
        <form [formGroup]="contarFormGroup">
            <ng-template matStepLabel></ng-template>
            <div class="preguntas">
                <div class="pregunta-i">
                    <label class="titulo">Seleccione la imagen con mas elementos</label>
                    <mat-radio-group class="elements" aria-labelledby="example-radio-group-label"
                        formControlName="respuestaSeleccionadaArboles">

                        <div class="options">
                            <img src="../../../assets/arboles-4.jpg"> <br>
                            <mat-radio-button value="4"></mat-radio-button>
                        </div>

                        <div class="options">
                            <img src="../../../assets/arboles-6.png"> <br>
                            <mat-radio-button value="6"></mat-radio-button>
                        </div>

                        <div class="options">
                            <img src="../../../assets/arboles-9.png"> <br>
                            <mat-radio-button value="9"></mat-radio-button>
                        </div>

                    </mat-radio-group>
                    <div>La respuesta es: {{contarFormGroup.controls['respuestaSeleccionadaArboles'].value}}</div>

                </div>
            </div>
            <div class="boton-next">
                <button mat-raised-button color="primary" matStepperPrevious class="boton-back">Volver</button>

                <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="contarFormGroup" errorMessage="Aun no se respondio">
        <form [formGroup]="contarFormGroup">
            <ng-template matStepLabel></ng-template>
            <div>
                <div>
                    <label class="titulo">Seleccione la imagen con mas elementos</label>
                    <mat-radio-group aria-labelledby="example-radio-group-label"
                        formControlName="respuestaSeleccionadaFrutas">

                        <div>
                            <h3>Cuenta a partir de 3 </h3>

                            <span>Cuenta hacia delante desde el 3 </span> <br>
                            <input class="numeros" type="number" id="5" value="3" disabled> ,
                            <input class="numeros" type="number" id="6" formControlName="contar_3_1"> ,
                            <input class="numeros" type="number" id="7" formControlName="contar_3_2"> ,
                            <input class="numeros" type="number" id="8" formControlName="contar_3_3"> ,
                            <input class="numeros" type="number" id="9" formControlName="contar_3_4">

                            <br><br><br>
                            <label>Respuestas que se recibiran para chequear si es correcto o no:
                                {{contarFormGroup.controls['contar_3_1'].value}}
                                {{contarFormGroup.controls['contar_3_2'].value}},
                                {{contarFormGroup.controls['contar_3_3'].value}},
                                {{contarFormGroup.controls['contar_3_4'].value}}
                            </label>


                        </div> <br>
                        <div>
                            <h3>Cuenta a partir de 7 </h3>

                            <span>Cuenta hacia delante desde el 7 </span> <br>
                            <input class="numeros" type="number" id="10" value="7" disabled> ,
                            <input class="numeros" type="number" id="11" formControlName="contar_7_1"> ,
                            <input class="numeros" type="number" id="12" formControlName="contar_7_2"> ,
                            <input class="numeros" type="number" id="13" formControlName="contar_7_3"> ,
                            <input class="numeros" type="number" id="14" formControlName="contar_7_4">

                   
                        </div> <br>

                        <label class="titulo">Contar con un limite inferior y superior: </label>
                        <div>
                            <h3>Cuenta a partir de 5 hasta 9 </h3>

                            <input class="numeros" type="number" formControlName="contarLimInfSup_5_1"> ,
                            <input class="numeros" type="number" formControlName="contarLimInfSup_5_2"> ,
                            <input class="numeros" type="number" formControlName="contarLimInfSup_5_3"> ,
                            <input class="numeros" type="number" formControlName="contarLimInfSup_5_4"> ,

                            <br><br><br>
                            <label>Respuestas que se recibiran para chequear si es correcto o no: </label>


                        </div> <br>
                        <div>
                            <h3>Cuenta a partir de 5 hasta 9</h3>

                            <input class="numeros" type="number" formControlName="contarLimInfSup_4_1"> ,
                            <input class="numeros" type="number" formControlName="contarLimInfSup_4_2"> ,
                            <input class="numeros" type="number" formControlName="contarLimInfSup_4_3"> ,
                            <input class="numeros" type="number" formControlName="contarLimInfSup_4_4"> ,
                            <input class="numeros" type="number" formControlName="contarLimInfSup_4_5">

         
                        </div> <br>

                        <label class="titulo">Cuenta hacia atras: </label> <br><br>
                        <div>
                            <h3>Cuenta hacia atras desde 7 </h3>

                            <input class="numeros" type="number" formControlName="contarAtras_7_1"> ,
                            <input class="numeros" type="number" formControlName="contarAtras_7_2"> ,
                            <input class="numeros" type="number" formControlName="contarAtras_7_3"> ,
                            <input class="numeros" type="number" formControlName="contarAtras_7_4"> ,
                            <input class="numeros" type="number" formControlName="contarAtras_7_5">

                            <br><br><br>

                        </div> <br>
                        <div>
                            <h3>Cuenta hacia atras desde 15</h3>

                            <input class="numeros" type="number" formControlName="contarAtras_15_1"> ,
                            <input class="numeros" type="number" formControlName="contarAtras_15_2"> ,
                            <input class="numeros" type="number" formControlName="contarAtras_15_3"> ,
                            <input class="numeros" type="number" formControlName="contarAtras_15_4"> ,
                            <input class="numeros" type="number" formControlName="contarAtras_15_5">

                            <br><br><br>
                        </div> <br>

                    </mat-radio-group>
                </div>
            </div>
            <div class="boton-next">
                <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
            </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="enumerarFormGroup" errorMessage="Aun no se respondio">
        <form [formGroup]="enumerarFormGroup">
            <ng-template matStepLabel></ng-template>
            <div class="preguntas">
                <div class="pregunta-i">
                    <label class="titulo">Cuenta cuantos corazones hay</label>
                    <div class="elements" aria-labelledby="example-radio-group-label">

                        <div class="options">
                            <img src="../../../assets/corazones.png"> <br>
                            <input class="enumerar-input" type="number" formControlName="corazones">
                        </div>


                    </div>
                </div>
            </div>
            <div class="boton-next">
                <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
            </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="enumerarFormGroup" errorMessage="Aun no se respondio">
        <form [formGroup]="enumerarFormGroup">
            <ng-template matStepLabel></ng-template>
            <div class="preguntas">
                <div class="pregunta-i">
                    <label class="titulo">Cuenta cuantos ratones hay</label>
                    <div class="elements" aria-labelledby="example-radio-group-label">

                        <div class="options">
                            <img src="../../../assets/ratones.jpg"> <br>
                            <input class="enumerar-input" type="number" formControlName="ratones">
                        </div>
                    </div>
                </div>
            </div>
            <div class="boton-next">
                <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
            </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="enumerarFormGroup" errorMessage="Aun no se respondio">
        <form [formGroup]="enumerarFormGroup">
            <ng-template matStepLabel></ng-template>
            <div class="preguntas">
                <div class="pregunta-i">
                    <label class="titulo">Cuenta cuantos dinosaurios hay</label>
                    <div class="elements" aria-labelledby="example-radio-group-label">

                        <div class="options">
                            <img src="../../../assets/dinosaurios.jpg"> <br>
                            <input class="enumerar-input" type="number" formControlName="dinosaurios">

                        </div>


                    </div>
                </div>
            </div>
            <div class="boton-next">
                <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
            </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="enumerarFormGroup" errorMessage="Aun no se respondio">
        <form [formGroup]="enumerarFormGroup">
            <ng-template matStepLabel></ng-template>
            <div class="preguntas">
                <div class="pregunta-i">
                    <label class="titulo">Cuenta cuantos aviones hay</label>
                    <div class="elements" aria-labelledby="example-radio-group-label">

                        <div class="options">
                            <img src="../../../assets/aviones.jpg"> <br>
                            <input class="enumerar-input" type="number" formControlName="aviones">
                        </div>
                    </div>
                </div>
            </div>
            <div class="boton-next">
                <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
            </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="enumerarFormGroup" errorMessage="Aun no se respondio">
        <form [formGroup]="enumerarFormGroup">
            <ng-template matStepLabel></ng-template>
            <div class="preguntas">
                <div class="pregunta-i">
                    <label class="titulo">Cuenta cuantos estrellas hay</label>
                    <div class="elements" aria-labelledby="example-radio-group-label">

                        <div class="options">
                            <img src="../../../assets/estrellas.jpg"> <br>
                            <input class="enumerar-input" type="number" formControlName="estrellas">
                        </div> <br>

                    </div>
                    <div>La respuesta es: {{enumerarFormGroup.controls['estrellas'].value}}</div>

                </div>
            </div>
            <div class="boton-next">
                <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
            </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="sistNumFormGroup" errorMessage="Aun no se respondio">
        <form>
            <ng-template matStepLabel></ng-template>
            <div class="preguntas">
                <div class="pregunta-i">
                    <label class="titulo">Cuenta cuantos estrellas hay</label>
                    <div class="elements" aria-labelledby="example-radio-group-label" >
                        <section>
                            <p><mat-checkbox name="correcta1" [(ngModel)]="correcta1" >9</mat-checkbox></p>
                            <p><mat-checkbox name="incorrecta1" [(ngModel)]="incorrecta1" >@</mat-checkbox></p>
                            <p><mat-checkbox name="incorrecta2" [(ngModel)]="incorrecta2" >F</mat-checkbox></p>
                            <p><mat-checkbox name="correcta2" [(ngModel)]="correcta2" >8</mat-checkbox></p>
                            <p><mat-checkbox name="correcta3" [(ngModel)]="correcta3" >3</mat-checkbox></p>
                            <p><mat-checkbox name="correcta4" [(ngModel)]="correcta4" >6</mat-checkbox></p>
                            <p><mat-checkbox name="incorrecta3" [(ngModel)]="incorrecta3" >&</mat-checkbox></p>
                        </section>

                    </div>
                    <div>La respuesta es: {{correcta1}}</div>

                </div>
            </div>
            <div class="boton-next">
                <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
            </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="sistNumFormGroup" errorMessage="Aun no se respondio">
        <form [formGroup]="sistNumFormGroup" >
            <ng-template matStepLabel></ng-template>
            <div class="preguntas">
                <div class="pregunta-i">
                    <label class="titulo">Cual es el numero mas grande?</label><br>
                    <div class="options_sistNum">
                        <mat-radio-group class="options-container" aria-labelledby="example-radio-group-label"
                            formControlName="elegirMayor_2_10">

                            <div class="options-container" >
                                <div class="select">
                                    <label>2</label><br>
                                    <mat-radio-button value="2"></mat-radio-button>
                                </div>
                                <div class="select">
                                    <label>10</label><br>
                                    <mat-radio-button value="10"></mat-radio-button>
                                </div>
                            </div>
        
                        </mat-radio-group>
                        <mat-radio-group class="options-container" aria-labelledby="example-radio-group-label"
                            formControlName="elegirMayor_2_6">
        
                            <div class="options-container">
                                <div class="select">
                                    <label>2</label><br>
                                    <mat-radio-button value="2"></mat-radio-button>
                                </div>
                                <div class="select">
                                    <label>6</label><br>
                                    <mat-radio-button value="6"></mat-radio-button>
                                </div>
                            </div>
    
                        </mat-radio-group>
                        <mat-radio-group class="options-container" aria-labelledby="example-radio-group-label"
                            formControlName="elegirMayor_4_5">
        
                            <div class="options-container">
                                <div class="select" >
                                    <label>4</label><br>
                                    <mat-radio-button value="4"></mat-radio-button>
                                </div>
                                <div class="select" >
                                    <label>5</label><br>
                                    <mat-radio-button value="5"></mat-radio-button>
                                </div>
                            </div>
    
                        </mat-radio-group>
                        <mat-radio-group  aria-labelledby="example-radio-group-label"
                            formControlName="elegirMayor_8_7">
        
                            <div class="options-container">
                                <div class="select">
                                    <label>8</label><br>
                                    <mat-radio-button value="8"></mat-radio-button>
                                </div>
                                <div class="select">
                                    <label>7</label><br>
                                    <mat-radio-button value="7"></mat-radio-button>
                                </div>
                            </div>
    
                        </mat-radio-group>
                        <mat-radio-group  aria-labelledby="example-radio-group-label"
                            formControlName="elegirMayor_9_3">
        
                            <div class="options-container" >
                                <div class="select">
                                    <label>9</label><br>
                                    <mat-radio-button value="9"></mat-radio-button>
                                </div>
                                <div class="select">
                                    <label>3</label><br>
                                    <mat-radio-button value="3"></mat-radio-button>
                                </div>
                            </div>
    
                        </mat-radio-group>
                    </div>
    
                </div>
            </div>
            <div class="boton-next">
                <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
            </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="sistNumFormGroup" errorMessage="Aun no se respondio">
        <form >
            <ng-template matStepLabel></ng-template>
            <div class="preguntas">
                <div class="pregunta-i">
                    <label class="titulo">Lee las siguientes palabras y selecciona las que son números</label>
                    <div class="elements" aria-labelledby="example-radio-group-label">

                        <!-- <ul>
                            <li>

                            </li>

                            <li>

                            </li>

                            <li>

                            </li>

                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul> -->

                        <section>
                            <div class="opciones-list" >
                                <span class="opcion-text">Siete</span>
                                <mat-checkbox  type="number" name="sieteControl" [(ngModel)]="sieteControl"></mat-checkbox>
                            </div>
                            
                            <div class="opciones-list" >
                                <label>Domingo 
                                    <mat-checkbox  type="number" name="domingoControl" [(ngModel)]="domingoControl"></mat-checkbox>
                                </label>
                            </div>
                            <div class="opciones-list" >
                                <span class="opcion-text">Once</span>
                                <mat-checkbox  type="number" name="onceControl" [(ngModel)]="onceControl"></mat-checkbox>
                            </div>
                            <div class="opciones-list" >
                                <span class="opcion-text">Bicien</span>
                                <mat-checkbox  type="number" name="bicienControl" [(ngModel)]="bicienControl"></mat-checkbox>
                            </div>
                            <div class="opciones-list" >
                                <span class="opcion-text">Julio</span>
                                <mat-checkbox  type="number" name="julioControl" [(ngModel)]="julioControl"></mat-checkbox>
                            </div>
                            <div class="opciones-list" >
                                <span class="opcion-text">Cinco</span>
                                <mat-checkbox  type="number" name="cincoControl" [(ngModel)]="cincoControl"></mat-checkbox>
                            </div>
                            <div class="opciones-list" >
                                <span class="opcion-text">Setenta</span>
                                <mat-checkbox  type="number" name="setentaControl" [(ngModel)]="setentaControl"></mat-checkbox>
                            </div>
                            <div class="opciones-list" >
                                <span class="opcion-text">Sesiente</span>
                                <mat-checkbox  type="number" name="sesienteControl" [(ngModel)]="sesienteControl"></mat-checkbox>
                            </div>
                            <div class="opciones-list" >
                                <span class="opcion-text">Treinta</span>
                                <mat-checkbox  type="number" name="treintaControl" [(ngModel)]="treintaControl"></mat-checkbox>
                            </div>
                            <div class="opciones-list" >
                                <span class="opcion-text">Catorce</span>
                                <mat-checkbox  type="number" name="catorceControl" [(ngModel)]="catorceControl"></mat-checkbox>
                            </div>
                            <div class="opciones-list" >
                                <span class="opcion-text">Dince</span>
                                <mat-checkbox  type="number" name="dinceControl" [(ngModel)]="dinceControl"></mat-checkbox>
                            </div>
                            <div class="opciones-list" >
                                <span class="opcion-text">Jueves</span>
                                <mat-checkbox  type="number" name="juevesControl" [(ngModel)]="juevesControl"></mat-checkbox>
                            </div>
                        </section>

                    </div>
                </div>
            </div>
            <div class="boton-next">
                <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
            </div>
        </form>
    </mat-step>


    <mat-step>
        <ng-template matStepLabel>Finalizado</ng-template>
        <p>Cuestionario terminado.</p>
        <div>
            <button mat-raised-button color="primary" matStepperPrevious class="boton-back">Volver</button>
            <button mat-raised-button color="primary" (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>