<div class="container">

    <div class="lista-alumnos">
        <label class="titulo">Lista de Alumnos Registrados</label>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nº</th>
                    <th scope="col">Nombre y Apellido</th>
                    <th scope="col">Nroº de Documento</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Direccion</th>
                </tr>
            </thead>
            <tbody *ngFor="let resultado of resultados; index as i">
                <tr>
                    <th scope="row">{{i+1}}</th>
                    <td> {{resultado.id_entidad.nombre}} {{resultado.id_entidad.apellido}} </td>
                    <td> {{resultado.id_entidad.nro_documento}} </td>
                    <td> {{resultado.id_entidad.telefono}} </td>
                    <td> {{resultado.id_entidad.direccion}} </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

