.contenedor {
    margin: 70px 35px 35px 35px;
}

.cont {
    border: 1px solid black;
    margin-top: 35px;
    border-radius: 15px;
    height: 65%;
    width: 70%;
}
p {
    margin-top: 35px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.titulo {
    font-size: 22px;
}

.informacion {
    margin: 10px 10px 15px 10px;
    font-size: 18px;
}

.informacion-1 {
   float: left;
   margin-left: 50px;

}
.informacion-2 {
    margin-right: 50px;
    float: right;

}

.container {
    background-color: rgb(187, 187, 187);
}