<div class="container cont">
    <p>DATOS DEL PACIENTE</p>
    <div class="contenedor">
        <div class="informacion-1">
            <span class="titulo">Nombre y Apellido</span>
            <div class="informacion">algo</div>
    
            <span class="titulo">Documento</span>
            <div class="informacion">algo</div>

            <span class="titulo">Contacto</span>
            <div class="informacion">algo</div>
      
            <span class="titulo">Resultados</span>
            <ul class="informacion">
                <li>Resultado: 1</li>
                <li>Resultado: 2</li>
                <li>Resultado: 3</li>
                <li>Resultado: 4</li>
                <li>Resultado: 5</li>
            </ul>
      
        </div>
        
        <div class="informacion-2">
            <span class="titulo">DIAGNOSTICO</span>
            <div class="informacion">ALGO</div>

            <div class="titulo">Observacion</div>
            <textarea name="observacion" id="" cols="50" rows="6"></textarea>

        </div>
    </div>

</div>